name: dependabot
on: pull_request_target

permissions:
  contents: write
  pull-requests: write

jobs:
  dependabot:
    runs-on: ubuntu-latest
    if: github.actor == 'dependabot[bot]'

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Setup PHP
        uses: shivammathur/setup-php@v2

      - name: Install dependencies
        run: composer install --no-interaction --prefer-dist --optimize-autoloader

      - name: Build library
        run: composer build

      - name: Git commit and push
        uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: 'feat(lib): generate PHP code from OpenAPI spec'
          add_options: '-A'
